@using ConsumingAPIDotNetMVCBootstrap.Services
@{
    DataResponse serviceData = new ServiceDataResponse().GetDataResponse("jogos/megasena/lasted");
    var data = serviceData.Data.FirstOrDefault();
    ViewData["Title"] = data.TipoJogo.Replace("_", " ");
    var accumulatedValue = data.ValorAcumuladoConcursoEspecial;
}
<h1>@ViewData["Title"]</h1>

<br />
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0"> 
        <h1 class="display-4 fst-italic">@accumulatedValue</h1>
        <p class="lead my-3">Valor acumulado</p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Posicao</th>
                <th scope="col">Ganhadores</th>
                <th scope="col">Município</th>
                <th scope="col">Nome Fantasia</th>
                <th scope="col">Série</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var premio in data.ListaMunicipioUFGanhadores)
            {
                <tr>
                    <td>@premio.Posicao</td>
                    <td>@premio.Ganhadores</td>
                    <td>@premio.Municipio</td>
                    <td>@premio.NomeFatansiaUL</td>
                    <td>@premio.Serie</td>
                </tr>
            }
        </tbody>
    </table>
</div>