@using ConsumingAPIDotNetMVCBootstrap.Services
@{
    DataResponse serviceData = new ServiceDataResponse().GetDataResponse("jogos/megasena/lasted");
    var data = serviceData.Data[0];
    var number1 = data.ListaDezenas[0];
    var number2 = data.ListaDezenas[1];
    var number3 = data.ListaDezenas[2];
    var number4 = data.ListaDezenas[3];
    var number5 = data.ListaDezenas[4];
    var number6 = data.ListaDezenas[5];

    ViewData["Title"] = data.TipoJogo.Replace("_", " ");
}
<h1>@ViewData["Title"]</h1>

<br/>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    <div class="col-lg-2 col-sm-4">
        <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@number1</h1>
        </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-4">
        <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@number2</h1>
        </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-4">
        <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@number3</h1>
        </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-4">
        <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@number4</h1>
        </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-4">
        <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@number5</h1>
        </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-4">
        <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">@number6</h1>
        </div>
        </div>
    </div>

</div>